body {
    color: #000000;
}

header {
    width: 100%;
    height: 100px;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.nav-area {
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.nav-area ul {
    width: 900px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.nav-area li {
    width: 250px;
    height: auto;
    display: inline-block;
    text-align: center;
    list-style: none;
}
.nav-area li+ li {
    border-left: 2px solid #CCCCCC;
}

.top-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-top: 8px solid #ec6c2b;
}

.top-img img {
    text-align: center;
    width: 100%;
    height: auto;
}

.content-area {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    background-color: #ffffff;
}

.content-area h1 {
    font-size: 20px;
    text-align: center;
    padding: 30px 50px;
    border-bottom: 3px solid #ec6c2b;
}

.content-area p {
    padding: 40px;
    text-align: center;
    line-height: 30px;
}

.content-area ul {
    padding: 0px;
    width: 800px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

.content-area li {
    width: 250px;
    height: 60px;
    display: inline-block;
    margin: 30px;
    text-align: center;
    line-height: 60px;
    list-style: none;
    color: #ffffff;
    font-weight: 800;
    background-color: #ec6c2b;
}